.footer {
  background: #000;
  padding: 30px 20px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.footer-social a {
  color: #fff;
  font-size: 26px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #e60000;
  transform: scale(1.15);
}
